@charset "utf-8";
/* CSS Document */

body{
	background-color: black;
}

h1{
	
}

h2{
	
}

.bg-image-1{
	background-image: url("../images/RumIMG1.jpg")
}

.bg-image-2{
	background-image: url("../images/RumIMG2.jpg")
}

.bg-image-3{
	background-image: url("../images/RumIMG3.jpg")
}

.carousel-image{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}