@charset "utf-8";
/* CSS Document */

body{
	background-color: black;
}
h1{
	
}
h2{
	
}
.carousel-item{
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}